@import "theme.css";
body{
margin:0px;
padding:0px;
font-size:13px;
font-family:Arial, Helvetica, sans-serif;
color:#322e2b;
background:#eca01e;
line-height:20px;
}
h1.main_title{
display: block;
}
#top_bar{
width:100%;
height:26px;
position:absolute;
background:url(images/top_bar.png) repeat-x top left;
overflow:hidden;
}
#whole_wrapper{
width:973px;
padding-left:50px;
padding-right:50px;
overflow:hidden;
background:url(images/whole_wrapper.png) repeat-y top left;
margin:auto;
}
#header{
width:931px;
padding-left:20px;
padding-right:22px;
height:87px;
padding-top:50px;
margin:auto;
background:#fff;
}
#logoarea{
width:527px;
height:87px;
float:left;
}
#header_middle{
width:252px;
height:87px;
float:left;
}
#header_right{
width:152px;
height:87px;
float:right;
}
#slogan_text{
width:881px;
padding-left:92px;
font-size:23px;
font-weight:lighter;
padding-top:13px;
color:#ffffff;
height:42px;
background:url(images/slogan_text.png) repeat-x top left;
margin:auto;
overflow:hidden;
}
#menuarea{
box-shadow:0px 3px 3px #ccc;
width:935px;
padding-left:19px;
padding-right:19px;
height:46px;
margin:auto;
overflow:hidden;
background:url(images/menu_bg.png) repeat-x top left;
}
#slogan_text p{
padding:0px;
margin:0px;
}

#maindiv{
width:790px;
padding-top:7px;
padding-bottom:50px;
min-height:250px;
margin:auto;
overflow:hidden;
}
body.sidebar-first #maindiv{
width:973px;
padding-top:20px;
margin:auto;
overflow:hidden;
background:url(images/maindiv_bg.png) no-repeat top left;
}
#leftcontent{
width:215px;
padding-left:15px;
float:left;
overflow:hidden;
}
#rightcontent{
width:230px;
float:right;
}
#midcontent{
margin-top: 10px;
width:790px;
overflow:hidden;
}
body.sidebar-first #midcontent{
width:700px;
float:left;
padding-left:10px;
}
body.sidebar-second #midcontent{
width:700px;
float:left;
}
#whole_wrapper_bottom_corner{
width:1071px;
height:24px;
background:url(images/whole_wrapper_bottom_corner.png) no-repeat top center;
overflow:hidden;
margin:auto;
}

#whole_footer{
width:973px;
padding-left:50px;
padding-right:50px;
overflow:hidden;
background:url(images/whole_wrapper.png) repeat-y top left;
margin:auto;
}
#footer1{
width:793px;
padding-left:90px;
padding-right:90px;
padding-top:35px;
padding-bottom:35px;
color:#ffffff;
font-size:12px;
background:#821106;
overflow:hidden;
margin:auto;
}
#footer_left{
width:330px;
padding-right:35px;
float:left;
}
#footer_right{
width:330px;
padding-right:35px;
float:right;
}
#whole_footer_bottom_corner{
width:891px;
padding-left:90px;
padding-right:90px;
padding-top:25px;
padding-bottom:60px;
background:url(images/whole_footer_bottom_corner.png) no-repeat top center;
overflow:hidden;
margin:auto;
}
#footer2{
width:793px;
color:#282724;
font-size:12px;
overflow:hidden;
margin:auto;
}
/*************************************tab design*******************************************/
#tabs-wrapper{
}
#tabs-wrapper ul{
margin:0px;
padding:0px;
border-bottom:1px solid #bcbcbc;
overflow:hidden;
}

#tabs-wrapper ul li,
#tabs-wrapper ul  li a{
padding:0;
margin:0;
}

#tabs-wrapper ul li{
padding:0;
margin:0;
border:none;
background:none;
float:left;
overflow:hidden;
margin-right:3px;
}

#tabs-wrapper ul li a{
padding:5px;
padding-left:12px;
padding-right:12px;
padding-top:7px;
display:block;
border:none;
font-weight:bold;
color:#ffffff;
background:none;
font-size:13px;
background:#bcbcbc;
}

#tabs-wrapper ul li a:hover,
#tabs-wrapper ul li a.active{
background:none;
background:#74a4c2;
color:#ffffff;
}

#tabs-wrapper ul li.active a{
color:#ffffff;
border:none !important;
background:#74a4c2;
}
/*****************************************************************************************/
.p1, .p2{
padding: 0px 0px 4px 0px;
}
#breadcrumb{
margin-bottom:18px;
}
.breadcrumb{
display:inline;
}
.subpage-image{
margin: 5px 10px 5px 14px;
border: 2px solid #8e837d;
box-shadow: 3px 3px 5px #ccc;
border-radius: 5px;
}
